*{
    padding: 0;
    margin: 0;
}
.body{
    background-color: #0e1422;
    height: 950vh;
}
header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #0e1422;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
.logo{
    width: 500px;
    color: white;
}
header button{
    color: #0e1422;
    background-color: rgb(229, 227, 227);
    height: 45px;
    width: 135px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 2%;
}
.logo{
    width: 200px;
    height: 33px;
    margin-top: 20px;
    margin-left: 2%;
    cursor: pointer;
    color: rgb(229, 227, 227);
}
.logo:hover{
    color: white;
}
header button:hover{
    background-color: white;
}
/* header a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 59%;
} */
header button:hover{
    background-color: white;
}
.humankind{
    background-image: url(/Media/KeyArt_Oceania_3840x2160\ \(2\).jpg);
    height: 720px;
}
.off{
    position: absolute;
    top: 200px;
    left: 375px;
    z-index: 1;
}
.off img{
    width: 550px;
}
hr{
    height: 10px;
}
.how{
    margin-left: 250px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.far{
    color: white;
    margin-left: 10px;
    font-size: 60px;
    font-weight: bold;
}
.logo1{
    width: 700px;
    height: 125px;
    top: 10px;
}
.main{
    display: flex;
    justify-content: space-around;
    color: white;
    width: 0px;
    gap: 20px;
    padding-bottom: 20px;
}
.sub video{
    border-radius: 15px;
    width: 300px;
    height: 400px;
    z-index: 5;
}
.relative{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    z-index: 1;
    top: 1310px;
    margin-left: 35px;
    font-size: 20px;
    text-align: center;
}
.absolute{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    z-index: 1;
    top: 1310px;
    margin-left: 85px;
    font-size: 20px;
    text-align: center;
}
.sub p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 20px;
    word-spacing: 2px;
    margin-left: 5px;
}
.sub h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 45px;
}
.background{
   background-image: url(/Media/promo-bg.jpg);
   width: 100%;
   position: absolute;
   height: 650px;
}
.hkd{
    width: 600px;
    height: 450px;
    margin-left: 630px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.today{
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: sans-serif;
}
.today h1{
    color: #0e1422;
    padding-bottom: 30px;
    font-weight: bold;
}
.today h4{
    color: #0e1422;
    padding-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
}
.today p{
    color: #0e1422;
}
.today ul{
    color: #0e1422;
    word-spacing: 3px;
    line-height: 20px;
    padding-left: 30px;
}
.today button{
    width: 160px;
    height: 60px;
    background-color: #0e1422;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 5px;}
.image{
    position: absolute;
    top: 1680px;
    width: 650px;
}
.image img{
    width: 600px;
    height: 340px;
    margin-left: 640px;
    box-shadow: 1px 1px 1px 1px ;
}
.second{
    background-image: url(/Media/second-promo-landscape.jpg);
    width: 100%;
    margin-top: 575px;
    height: 650px;
}
.second img{
    margin-top: 110px;
    width: 580px;
    margin-left: 50px;
    margin-right: 50px;
    height: 320px;
}
.join{
    color: white;
    text-align:justify;
    position: absolute;
    margin-left: 630px;
    top: 2300px;
    font-family: sans-serif;
    
}
.join h1{
    font-weight: bold;
    font-size: 33px;
}
.join h3{
    margin-top: 35px;
    margin-bottom: 30px;
}
.join h4{
    font-weight: 100;
    margin-top: 10px;
    word-spacing: 3px;
    line-height: 23px;
    font-size: 15px;
}
.join p{
    margin-top: 10px;
    word-spacing: 3px;
    line-height: 23px;
    font-size: 15px;
}
.join button{
    width: 160px;
    height: 60px;
    background-color: white;
    color: #0e1422;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid white;
}
.join button:hover{
    background-color: transparent;
}
#back{
    background-image: url(/Media/quote_bg.jpg);
    height: 250px;
}
.media{
    color: white;
    font-family: sans-serif;
    margin-top: 100px;
    font-size: 40px;
    justify-self: center;
}.mage{
    margin-left: 1030px;
    margin-top: 50px;
    width: 90px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.mage:hover{
    background-color: white;
    color: #0e1422;
}
.video{
    margin-top: 50px;
    width: 90px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.video:hover{
    background-color: white;
    color: #0e1422;
}
/* .container{
    margin-top: 30px;
    padding: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 150px);
    row-gap: 10px;
} */
#mages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    margin-top: 50px;
    width: 1100px;
    margin-left: 73px;
    column-gap: 30px;
}
.image1{
    width: 530px;
    height: 270px;
    border-radius: 10px;
}
.image2{
    width: 530px;
    height: 270px;
    border-radius: 10px;
}
.container img{
    width: 280px;
    height: 140px;
    border-radius: 5px;
}
/* .back{
    background-image: url(/Media/quote_bg.jpg);
    height: 300px;
    padding: 100px 0px;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.back div{
    opacity: 0;
    position: absolute;
}

.back div{
    animation: changeword 10s infinite ease-in;
}

.back div:nth-child(1) {
    animation-delay: 0s;
}
.back div:nth-child(2) {
    animation-delay: 4s;
}
.back div:nth-child(3) {
    animation-delay: 8s;
} */
@keyframes changeword{
    0%{ opacity: 0;}
    10%{opacity: 1;}
    25%{opacity: 1;}
    35%{opacity: 0;}
    100%{opacity: 0;}
}
/* .footer{
    background-color: #0e1422;
    position: sticky;
    bottom: 0px;
    width: 150px;
    height: 150px;
    transform: translateX(-150px) rotate(-45deg) translateY(105px);
}
.footer img{
    width: 50px;
    transform: rotate(40deg) translateX(100px);
    padding-right: 65px;
    padding-bottom: 45px;
} */
.beard{
    margin-top: 100px;
    width: 100%;
    background-image: url(/Media/beard.jpg);
    position: absolute;
    top: 5000px;
    height: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.class{
    padding-left: 50px;
    padding-top: 75px;
}
.beard h1{
    font-size: 70px;
    padding-bottom: 20px;
}
.beard p{
    font-size: 12px;
    padding-bottom: 30px;
}
.beard button{
    width: 250px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 12px;
    border: 0.2px solid white;
    border-radius: 3px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}
.beard button:hover{
    background-color: white;
    color: black;
}
.beard h1 img{
    width: 70px;
    filter: brightness(500%);
}
.beard  button img{
    width: 20px;
    padding-right: 5px;
    padding-top: 0px;
    filter: brightness(500%);
}
#buy{
    display: none;
    background-color: whitesmoke;
    color: #0e1422;
    z-index: 5;
    font-weight: bold;
    width: 200px;
    height: 100px;
    font-size: 20px;
    padding-top: 58px;
    display: none;
}
#buy:hover{
    cursor: pointer;
    background-color: white;
}
@media (max-width: 768px) {
    #buy{
        display: block !important;
        width: 100%;
        margin-top: 10px;
    }
    .up{
        display: none;
    }
    header{
        width: 100%;
        display: flex;
    }
    .humankind{
        width: 100%;
    }
    .main{
        display: flex;
    }
    .sub video{
        width: 175px;
        height: 200px;
    }
    body{
        width: 100%;
    }
    .far{
        font-size: 30px;
    }
    .logo1{
        width: 350px;
        height: 100px;
    }
}