.link{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0077B5;
    margin: 40px;
}
.in{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0077B5;
    border-radius: 2px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}
.sign{
    height: 750px;
    width: 350px;
    justify-content: center;
    margin-left: 450px;
    border-radius: 7px;
    box-shadow: 0 0 8px 10px whitesmoke;
}
.ins{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    padding-top: 45px;
    background-color: white;
}
.google,.apple,.micro{
    border-radius: 30px;
    border: 1px solid black;
    width: 300px;
    height: 35px;
    margin-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    background-color: white;
    border: 1px solid grey;
}
.pass{
    border-radius: 30px;
    border: 1px solid black;
    width: 300px;
    height: 35px;
    margin-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    background-color: white;
    border: 1px solid grey;
}
.sign img{
    width: 20px;
    padding-right: 5px;
}
.sign hr{
    width: 150px;
    height: 0px;
}
.ors{
    display: flex;
}
.hr1{
    margin-top: 25px;
}
.hr2{
    margin-top: 25px; 
}
.or{
    color: #929191;
}
.phone, .word{
    width: 300px;
    height: 35px;
    margin-top: 15px;    
    margin-left: 20px;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 7px;
    color: #929191;
}