*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: blue;
    height: 500px;
    width: 500px;
    position: relative;
    top: 40px;
    left: 50px;
    z-index: 1;
}
.absolute{
    position: absolute;
    left: 500px;
}
h1{
    position: relative;
    z-index: 5;
}
button{
    height: 75px;
    width: 75px;
    color: red;
    position: fixed;
    top: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: brown;
    position: relative;
}