h1{
    color: tomato;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
    h1{
        color: brown;
        font-size: 40px;
        font-family: cursive;
    }
}

@media (max-width: 426px) {
    h1{
        color: burlywood;
        font-size: green;
        font-family: sans-serif;
    }
}