*{
    margin: 0;
    padding: 0;
}
h1{
    border: 4px solid green;
    font-family: "Playwrite DE SAS";
    font-style: italic;
}

.newbox{
    background-color: green;
    width: 300px;
    height: 500px;
}

.firstbox{
    border: 8px solid red;
    margin: 20px;
    width: 200px;
    height: 100px;
    text-transform: capitalize;
}
#firstbox{
    border: 12px solid blue;
}
.firstbox,#firstbox,.paragraph,.bold{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
}
.box p{
    font-size: 40px;
    width: 40vw;
    min-width: 300px;
    max-width: 400px;
}
.box>p{
    font-size: 20px;
}
.h1 + p{
    font-size: 20px;
}
.button{
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: red;
    border: 4px solid red;
}
.newp{
    text-indent: 30px;
    -webkit-text-stroke: 0.2px red;
    text-shadow: 2px 2px 2px blue;
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: wavy;
    text-decoration: overline dashed yellow;
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
}