*{
    margin-left: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #251914;
}
header{
    background-color: #251914;
    height: 75px;
    position: fixed;
    top: 0;
}
header button{
    margin-left: 225px;
    color: white;
    background-color: red;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
header .blog{
    color: #C18F3B;
}
header button:hover{
    cursor: pointer;
    background-color: rgb(233, 55, 55);
    color: white;
    border: 4px solid red;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 25px;
    cursor: pointer;
}
header a:hover{
    color: #FFC72C;
    text-decoration: underline;
}
.logo{
    width: 190px;
    margin-left: 50px;
    margin-right: 125px;
    margin-top: 15px;
}
.section1{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.section1 a{
    color: #FFC72C;
    cursor: pointer;
}
.section1 a:hover{
    text-decoration: none;
}
.section1 h1{
    color: white;
    font-size: 50px;
}
.section1 p{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
hr{
    margin-top: 50px;
}
.section2{
    margin-left: 150px;
    margin-right: 150px;
}
.section2 button{
    color: white;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: #251914;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 50px;
}
.section2 a{
    color: white;
    cursor: pointer;
}
.section2 .all{
    background-color: #FFC72C;
    color: black;
    border: none;
}
.section2 a:hover{
    color: #FFC72C;
    text-decoration: dashed;
}
.section2 button:hover{
    cursor: pointer;
    background-color: #FFC72C;
    color: black;
}
.section3{
    margin-left: 150px;
    margin-right: 150px;
}
.section3 .put{
    font-size: 35px;
    color: white;
}
.section3 p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.section3 .becky{
    text-decoration: none;
    color: #C18F3B;
    cursor: pointer;
}
.section3 .becky:hover{
    color: #FFC72C;
}
.section3 a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.section3 a:hover{
    color: #FFC72C;
}
.section4{
    margin-left: 150px;
    margin-right: 150px;
    background-color: #2c1b1a;
    height: 250px;
    border-radius: 5px;
}
.section4 h1{
    color: white;
    font-size: 40px;
    padding-top: 35px;
    margin-left: 50px;
}
.section4 p{
    color: white;
    font-size: 20px;
    margin-left: 65px;
}
.section4 input{
    width: 700px;
    margin-left: 50px;
    height: 40px;
    background-color: #251914;
    border: none;
    box-shadow: 0 0.5px 0 0 white;
}
.section4 button{
    color: white;
    background-color: red;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
}
.section4 button:hover{
    cursor: pointer;
    background-color: rgb(233, 55, 55);
    color: white;
    border: 4px solid red;
}
.section5{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    height: 50px;
    width: 960px;
    border: none;
    box-shadow: 0 2px 0 0 #2c1b1a;
}
.section5 big{
    margin-left: 50px;
    color: white;
    font-size: 20px;
}
.section5 a{
    font-size: 20px;
    margin-left: 160px;
    text-decoration: none;
    color: #C18F3B;
    cursor: pointer;
}
.section5 a:hover{
    color: #FFC72C;
}
.section6{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.section6 .giant{
    font-size: 35px;
    color: white;
}
.section6 p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.section6 .sami{
    text-decoration: none;
    color: #C18F3B;
    cursor: pointer;
}
.section6 .sami:hover{
    color: #FFC72C;
}
.section6 a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.section6 a:hover{
    color: #FFC72C;
}
.section6 big{
    font-size: 20px;
}