:root{
    --primary-color: red;
    --secondary-color: blue;
}
.box{
    background-color: blue;
    height: 100px;
    width: 100px;
    animation: bounce 2s infinite alternate ease-in-out;
} @keyframes bounce {
    from{transform: translateX(20px);}
    to{transform: translateX(-10x);}
}
.box2{
    height: 100px;
    width: 100px;
    background-color: red;
    transition-property: height, border-radius, background;
    transition-duration: 2s, 1s, 5s;
    transition-timing-function: linear, ease, ease-in;
    animation: rotate 3s infinite ease-in;
}

@keyframes rotate {
    0% {transform: translateX(0px); background-color: red;}
    25%{transform: translateX(100px); background-color: orange;}
    50% {transform: translate(100px, 100px); background-color: yellow;}
    75%{transform: translateY(100px); background-color: green;}
    100%{transform: translate(0px); background-color: blue;}
}
.box2:hover{
    transform: translateX(50px);
    transition-duration: 0.5s;
    border-radius: 50px;
}

.box3{
    height: 100px;
    width: 100px;
    background-color: palevioletred;
    animation: pulse, 2s 5 ease;
    
    animation-delay: 3s;
}
@keyframes pulse{
    0% { transform: scale(0.7);}
    50%{ transform: scale(1);}
    100%{ transform: scale(1.3);}
}

.words p{
    opacity: 0;
    position: absolute;
}

p{
    animation: changeword 10s infinite ease-in;
}

.words p:nth-child(1) {
    animation-delay: 0s;
}
.words p:nth-child(2) {
    animation-delay: 2s;
}
.words p:nth-child(3) {
    animation-delay: 4s;
}
.words p:nth-child(4) {
    animation-delay: 6s;
}
.words p:nth-child(5) {
    animation-delay: 8s;
}

@keyframes changeword{
    0%{ opacity: 0; transform: translateY(10px);}
    10%{opacity: 1; transform: translate(0px);}
    25%{opacity: 0;}
    35%{opacity: 0; transform: translateY(-10px);}
    100%{opacity: 0;}
}
.flip-card{
    width: 200px;
    height: 100px;
    perspective: 800px;
}
.flip-inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-inner{
    transform: rotateY(180deg);
}
.front, .back{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.front{
    background-color: red;
    color: white;
    font-weight: 100;
}
.back{
    background-color: yellow;
    transform: rotateY(180deg);
    font-weight: 100;
}
.caurosel{
    margin-top: 50px;
    width: 100vw;
    height: 300px;
    background-color: wheat;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
}
.track{
    width: max-content;
    display: flex;
    gap: 50px;
    overflow: hidden;
    animation: scroll 30s linear infinite;
}
.track:hover{
    cursor: pointer;
}
.items{
    height: 200px;
    width: 300px;
    background-color: blue;
    object-fit: cover;
    border-radius: 15px;
}
@keyframes scroll{
    from{ transform: translateX(0);}
    to{ transform: translateX(calc(-300px * 10));}
}